<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="cedula">Cédula:</label>
                <input type="text" [(ngModel)]="cedula" class="form-control" id="cedula" placeholder="Ingrese la cédula">
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-3">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" [(ngModel)]="nombre" class="form-control" id="nombre" placeholder="Ingrese el nombre">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" [(ngModel)]="apellido" class="form-control" id="apellido" placeholder="Ingrese el apellido">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="cedula">Fecha de Nacimiento</label>
                <input type="Date" [(ngModel)]="fechaNacimiento" class="form-control" id="fechaNacimiento">
            </div>

        </div>

        <div class="col-md-6" style="padding: 10px;">
            <button type="button" class="btn btn-primary btn-full-width">
                 Agregar <i class="bi bi-person-plus" (click)="agregarPersona()"> </i>
            </button>
        </div>


    </div>

    <!--Tabla-->

    <div class="col-lg-12 offset-lg-0 mt-4">
        <table class="table" style="width:100%;">
            <thead>
                <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of listPersona; let i=index">
                    <td>{{persona.cedula}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.fechaNacimiento}}</td>
                    <td>
                        <span>
                            <i class="bi bi-trash-fill"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

</div>